# Python Virtual Environment
env/

# Package build files
build/*egg-info/
build/dist/
build/confidence/

# .idea meta files
.idea/

# Python cache files
*.pyc
__pycache__/

# SQLite 3 database files
*.sqlite3

# Actual config files
*.conf
*.json

# Other files
*.swp
